# Port on which the proxy server will run
PORT=5000

# Transitland API Key (obtain from https://www.transit.land/)
TRANSITLAND_APIKEY=YOUR_TRANSITLAND_API_KEY

# Transitland Feed ID for Rome ATAC / Roma TPL / Trenitalia
TRANSITLAND_FEED=f-sr-atac~romatpl~trenitalia

# 4 Stop IDs around Porta S. Giovanni & Carlo Felice (Reordered)
STOP_ID_1=71223      # Porta S. Giovanni (Card 1)
STOP_ID_2=72100      # Porta S. Giovanni / Carlo Felice (Card 2 - Default Direction)
STOP_ID_3=81953      # Carlo Felice (Card 3)
STOP_ID_4=70335      # Porta S. Giovanni (Card 4)
STOP_ID_2_ALT=81993  # Porta S. Giovanni / Carlo Felice (Card 2 - Opposite Direction Toggle)
